
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.toDoList{
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: dashed;
    border-radius: 20px;
    border-color: whitesmoke;
    border-width: 2px;
    padding: 20px;

}

h1 {
    font-size: 75px;
    font-family: "Fredericka the Great", serif;
    color: whitesmoke;
}

button{
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 59, 59);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    margin-left: 3px;
}

input[type="text"]{
    padding: 3px;
    font-size: 20px;
}

.addButton{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 10px;
}

.editButton{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.completeButton{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cancelButton{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 80px;
}

ol{
    padding: 0;
    list-style-type: none;
}

li{
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(44, 30, 30);
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: rgba(255, 228, 196, 0.137);
    border-radius: 8px;
    display: flex;
    align-items: left;
}

.text{
    flex: 1;
    padding: 5px;
}

.emptyList{
    font-size: 30px;
    color: rgba(245, 245, 245, 0.527);
    margin-top: 5px;
}

.buttonGroup {
    align-items: end;
    margin-left: 10px;
  }  